{% extends "templates/web.html" %}

{% block title %}{{ page_title }} | Jokoor Payroll{% endblock %}

{% block header %}
{% endblock %}

{% block navbar %}
<!-- Override Frappe's default navbar -->
{% endblock %}

{% block footer %}
<!-- Override Frappe's default footer -->
{% endblock %}

{% block page_content %}
{# Set content for the page component #}
{% set content %}
    {# Include the form component #}
    {% include "jokoor_payroll/templates/includes/elements/form.html" %}
{% endset %}

{# Include the page template which now has the sidebar built-in #}
{% include "jokoor_payroll/templates/includes/elements/page.html" %}
{% endblock %}