{% macro date(
    id="input-date",
    label="Date",
    value="",
    placeholder="Select date",
    required=false,
    error="",
    info="",
    size="small",
    classes=""
) %}
<!-- <div class="input-text-wrap is-calendar {% if size == 'large' %}is-large{% endif %} {{ classes }} {% if required %}is-required{% endif %} {% if error %}is-error{% endif %} {% if value %}has-value{% endif %}">
    <label class="input-text-label" for="{{ id }}">{{ label }}</label>
    <input id="{{ id }}" name="{{ id }}" type="text" value="{{ value }}" class="input-text" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} {% if required %}required{% endif %}>
    {% if error %}
    <span class="input-error">{{ error }}</span>
    {% endif %}
    {% if info %}
    <span class="input-info">{{ info }}</span>
    {% endif %}
</div> -->
<div class="input-text-wrap is-calendar has-value {% if size == 'large' %}is-large{% endif %} {{ classes }} {% if required %}is-required{% endif %} {% if error %}is-error{% endif %} {% if value %}has-value{% endif %}">
    <label class="input-text-label" for="{{ id }}">{{ label }}</label>
    <input id="{{ id }}" type="text" value="{{ value }}" placeholder="{{ placeholder }}">
  </div>
<script>
$("#{{ id }}").daterangepicker({
  singleDatePicker: true
});
</script>
{% endmacro %}