<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Error 404 | Jokoor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jokoor is a Sales, Invoices & Accounts Admin template for Accountant or Companies/Offices with various features for all your needs. Try Demo and Buy Now.">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreams Technologies">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/jokoor_books/img/favicon.png">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/jokoor_books/img/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/jokoor_books/css/bootstrap.min.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="assets/jokoor_books/plugins/tabler-icons/tabler-icons.min.css">

    <!-- Iconsax CSS -->
    <link rel="stylesheet" href="assets/jokoor_books/css/iconsax.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/jokoor_books/css/style.css">

</head>

<body class="bg-white coming-soon">

    <!-- Begin Wrapper -->
    <div class="main-wrapper auth-bg">

        <!-- Start Content -->
        <div class="container-fuild">
            <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
                <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
                    <div class="col-lg-6">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="error-images mb-5">
                                <img src="assets/jokoor_books/img/error-404.svg" alt="image" class="img-fluid">
                            </div>
                            <div class="text-center">
                                <h4 class="mb-3 fw-bold">Oops, something went wrong</h4>
                                <p class="fs-16 text-center">Error 404 Page not found. Sorry the page you looking for
                                    <br>doesn’t exist or has been moved</p>
                                <div class="d-flex justify-content-center pb-3">
                                    <a href="/" class="btn btn-primary d-flex align-items-center "><i class="isax isax-arrow-left me-2"></i>Back to Dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content -->

    </div>
    <!-- End Wrapper -->

    <!-- jQuery -->
    <script src="assets/jokoor_books/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/jokoor_books/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="assets/jokoor_books/js/script.js"></script>

</body>

</html>