
{% block title %}Inventory Management | Jokoor Payroll{% endblock %}

{% block page_content %}
{# Define the content for the page component #}
{% set page_title = "Inventory Management" %}
{% set has_search = false %}
{% set has_actions = true %}
{% set action_buttons %}

{% endset %}

{% set breadcrumb_items = [
    {"label": "Restaurant", "url": "/restaurant"},
    {"label": "Inventory", "url": "#"}
] %}

{% set content %}

<div class="container-fluid p-4">
    <!-- Tabs -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link{% if active_tab == 'all_items' %} active{% endif %}" 
               href="/restaurant/inventory?tab=all_items">
                <i class="fas fa-box me-2"></i>All Items
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == 'item_groups' %} active{% endif %}" 
               href="/restaurant/inventory?tab=item_groups">
                <i class="fas fa-layer-group me-2"></i>Item Groups
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == 'variants' %} active{% endif %}" 
               href="/restaurant/inventory?tab=variants">
                <i class="fas fa-code-branch me-2"></i>Variants
            </a>
        </li>
    </ul>

    <!-- Table Component -->
    <div class="row">
        <div class="col-12">
            {% set card_type = 'widget_card' %}
            {% set content %}
            {% set table_id = table_id %}
            {% set columns = columns %}
            {% set data = data %}
            {% set row_click_action = 'view' %}
            {% set has_record_selector = true %}
            {% set default_page_size = page_size %}
            {% set page_size_options = [10, 20, 50, 'All'] %}
            {% set has_search = true %}
            {% set search_placeholder = search_placeholder %}
            {% set show_export = true %}
            {% set show_actions = true %}
            {% set delete_action = true %}
            {% set delete_url = delete_url %}
            {% set view_page = view_page %}
            {% include "jokoor_payroll/templates/includes/elements/table.html" %}
            {% endset %}
            {% include "jokoor_payroll/templates/includes/elements/card.html" %}
        </div>
    </div>
</div>
{% endset %}

{% include "jokoor_payroll/templates/pages/restaurant_page.html" %}
{% endblock %}