{% extends "templates/web.html" %}

{% block title %}Employee View Example | Jokoor Payroll{% endblock %}

{% block header %}
{% endblock %}

{% block navbar %}
<!-- Override Frappe's default navbar -->
{% endblock %}

{% block footer %}
<!-- Override Frappe's default footer -->
{% endblock %}

{% block page_content %}
{# Set content for the page component #}
{% set content %}
    {# Include the form component #}
    {% include "jokoor_payroll/templates/includes/elements/form.html" %}
{% endset %}

{# Include the page template which now has the sidebar built-in #}
{% include "jokoor_payroll/templates/includes/elements/page.html" %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Sample function for action items
    window.printEmployeeData = function() {
        console.log('Printing employee data...');
        alert('Printing employee data...');
    };
    
    window.exportEmployeeData = function() {
        console.log('Exporting employee data as PDF...');
        alert('Exporting employee data as PDF...');
    };
    
    window.archiveEmployee = function() {
        console.log('Archiving employee record...');
        alert('Archiving employee record...');
    };
});
</script>
{% endblock %}
